[Unit]
Description=Simple Process Monitor
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/bin/bash /simple-process-monitor.sh
ExecStop=/bin/pkill -f '/bin/bash /simple-process-monitor.sh'
StandardOutput=append:/var/log/simple-process-monitor/StandardOutput.log
StandardError=append:/var/log/simple-process-monitor/StandardError.log

[Install]
WantedBy=multi-user.target